@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.wrapper{
    min-height: 100%;
    overflow: hidden;
    font-family: "Ubuntu";
    font-size: 20px;
    max-width: 1650px;
    margin: 0 auto;
    padding: 15px;
    line-height: 1.5;
    background-color:blanchedalmond ;

}



h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

h2{
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;

}

h3{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}


p{
    background-color:dimgrey;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    
}
h3::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/ellipse.png");
    background-repeat: no-repeat;
    background-position: 15px;
    padding-right:30px;
}
h3::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/ellipse.png");
    background-repeat: no-repeat;
    background-position: 8px;
    padding-right: 30px;
}
.about{
    background-color: white;
}


.hover-text:hover{
    background-color: gray;
    text-transform: uppercase ;
    padding: 25px;
    font-size: 24px;
    color: white;
}
.active:hover{
    color: aliceblue;
}
.active:active{
    font-size: 50px;
    color: darkslategray;
}

.visit:hover{
    color: white;
}
.visit:active{
    color:violet
}
.visit:visited{
    color: aqua;
}

.focus-button{
    display: inline-block;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    background-color: brown;   
}
.focus-button:focus{
    background-color: white;
    color: brown;
}


.target:hover{
    text-decoration: underline;
    color: white;
}

.target-text:target{
    background-color: whitesmoke;
    color: orange;
    max-width: 700px;
    margin: 0 auto 20px;
}




.for-example{
    max-width: 1000px;
margin: 0 auto;}

p.example:first-child{
    background-color: blue;
}
p.example:last-child{
    background-color: white;
}
p.example:nth-child(2){
    background-color: honeydew;
    color:brown;
}
.first-line-text::first-line{
    display: block;
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 10px;
    padding-top: 10px;
}
.first-letter-text::first-letter{
    color: aliceblue;
    font-weight: 700;
    font-size: 40px;
}
.before-text{
    color: white;
}
.before-text::before{
    content:"";
    display: block;
    height: 5px;
    background-color: black;
}

.after-text::after{
    content: "";
    display: block;
    height: 2px;
    background-image: linear-gradient(45deg, #30cfd0, #330867);
    max-width: 100px;
    
    margin: 15px auto 0 auto;
}
li{
    background-color:darkslategrey;
    color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}
/*
li:last-child{
    margin-bottom: 0px;
}
*/
li:hover{
    font-size: 35px;
}
main{
    margin: 0 0 35px 0;
}

.lifehack:hover{
    color: dimgray
}
/*=================================================================================================================*/

